<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Mirror Protocol Price Feed</li>
      <li>
        <a href="/">Dashboard</a>
      </li>
      <li><a href="/prices">Export</a></li>
    </ul>
  </div>
</div>
