<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">NwT</li>
      <li>
        <a href="/">Home</a>
      </li>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class=" menu" >
      <li>
        <a href="/">SignIn</a>
      </li>
    </ul>
  </div>
</div>