extends ../layouts/layout.pug

block content
  <h5>#{message}</h5>
  <p>A Message for you #{hostName} user </p>
  <ul>
    <li> Backend <strong>Express in <em> TypeScript </em> </strong> </li>
    <li> Frontend <strong>Pug</strong> Templating Engine </li>
    <li> Database <strong>MongoDB </strong> + Mongoose (ORM) </li>
    <li> FileUpload - Multer</li>
    <li> CSV Libs - <em> JSON2CSV, CSV2JSON </em> </li>
  </ul>