extends ../layouts/layout.pug

block content
  <div class='medium-12'>
    <h3 class='text-center' style="padding-left:10px; margin-bottom:20px">Add Contact</h3>
  </div>
  <div class='grid-x'>
    <div class='cell medium-6 medium-offset-3'>
      <form action="/contacts" method="post">
        <div class="grid-x">
          
          <div class="cell medium-6">
            <label> First Name
              <input type="text" name="firstName" placeholder="John"/>
            </label>
          </div>
          
          <div class="cell medium-6">
            <label> Last Name
              <input type="text" name="lastName" placeholder="Doe"/>
            </label>
          </div>

          <div class='cell medium-12'>
            <label> Address
              <input type="text" name="address" placeholder="43rd Street, Blank City, The Shire"/>
            </label>
          </div>

          <div class='cell medium-6'>
            <label> Cell
              <input type="text" name="phone" placeholder="55401210247"/>
            </label>
          </div>

          <div class='cell medium-6'>
            <label> Contact Type
              <select name="contactType"> 
                <option value="Acquintance">Acquintance</option>
                <option value="Work">Work</option>
                <option value="Friend">Friend </option>
              </select>
            </label>
          </div>

          <div class='cell medium-6'>
            <button type="submit" class="success button expanded">Submit</button>
          </div>
          <div class='cell medium-6'>
            <button type="reset" class="secondary button expanded">Reset</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>

